#root {
  .description {
    word-wrap: break-word;
    overflow: auto;
    max-height: 175px;
  }
  .EtsyHeader {
    background-color: black;
    color: white;
    padding: 25px 10px 10px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    .button {
      float: right;
    }
  }
  .EtsyCards {
     padding-top: 100px;
  }
} 
